######################################
# ========= JAVA / SPRING ==========
######################################

# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

######################################
# ========= SPRING BOOT ============
######################################

application.properties
application.yml
application-*.properties
application-*.yml

######################################
# ========= NODE / REACT ===========
######################################

node_modules/
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

######################################
# ========= TAILWIND ===============
######################################

.postcss-cache/
.cache/

######################################
# ========= IDE FILES ==============
######################################

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

######################################
# ========= OS FILES ===============
######################################

# Mac
.DS_Store

# Windows
Thumbs.db

######################################
# ========= ENV FILES ==============
######################################

.env
.env.*
todo_api/target/

todo-frontend/node_modules/

todo-frontend/build/

todo_api/target
todo_api/.mvn

todo_api/src/main/resources/application.properties
